<div class="new-session">
  <h1>Todos App</h1>
  <h3>Sign In</h3>
  <%= render 'shared/user_form' , user: @user, submit_text: 'Sign In' , action: session_url %>
  <a href="<%= new_user_url %>">Sign Up</a>
</div>