<div class="new-session">
  <h1>Todos App</h1>
  <h3>Sign Up</h3>
  <%= render 'shared/user_form', user: @user, submit_text: 'Sign Up', action: users_url %>
  <a href="<%= new_session_url %>">Sign In</a>
</div>