<div class="new-session">
  <h1 class="main-header">Todos App</h1>
  <h3 class="sub-header">Sign Up</h3>
  <%= render 'shared/user_form', user: @user, submit_text: 'Sign Up', action: users_url %>
  <a class="session-toggle" href="<%= new_session_url %>">Sign In</a>
</div>